PGHOST=localhost
PGPORT=5432
PGDATABASE=emploie
PGUSER=postgres
PGPASSWORD=remplacer_par_le_mot_de_passe_postgresql

# API France Travail (OAuth2 client credentials) - a completer localement
FT_CLIENT_ID=remplacer_par_votre_identifiant_client
FT_CLIENT_SECRET=remplacer_par_votre_secret_client
FT_TOKEN_URL=https://entreprise.francetravail.fr/connexion/oauth2/access_token?realm=/partenaire
FT_SCOPE=api_offresdemploiv2 o2dsoffre
FT_API_BASE_URL=https://api.francetravail.io/partenaire/offresdemploi/v2
